.loginContainer {
    background-image: url('/assets/hamburguer.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }

  .logo-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
  }